.button
  display: inline-block
  background-image: linear-gradient(top, #eee, #aaa)
  border-radius: 6px
  
  padding: 6px
  margin-top: 6px
  margin-bottom: 6px
  font-weight: bold
  cursor: pointer