.viewport 
  position: absolute
  width: 800px
  height: 480px
  overflow: hidden
  background-image: linear-gradient(top, #ccc, #bbb)

  border-radius: 8px
  border: 1px solid #ccc
  box-shadow: 0 0 6px #222
  margin: 8px

  margin-left: -(@width / 2)
  margin-top: -(@height / 2)
  
  left: 50%;
  top: 50%;